.btn {
	display: flex;
    justify-content: center;
    align-items: center;
	font-family: 'Aleo';
	color: #ffffff;
	background-color: #5474fd;

	&--choose-us {
		width: 225px;
		height: 60px;
		margin-top: 44px;
		border: none;
		text-transform: uppercase;
	}

	&--travel {
		width: 225px;
		height: 60px;
		border: none;
		text-align: center;
		text-transform: uppercase;
	}

	&:hover {
		color: #333333;
		background-color: #f86161;
	}
}
