.categories-nav__item {
	display: inline-block;
	padding-right: 40px;
	font-size: 14px;
  	font-family: "Aleo";
  	text-transform: uppercase;
  	line-height: 1.857;
  	text-align: left;

  	&:last-child {
  		padding-right: 0;
  	}

    &:hover {
      color: #ff6363;
    }
}