.categories-nav__item {
	display: inline-block;
	padding-right: 37px;
	font-size: 14px;
  	font-family: "Aleo";
  	text-transform: uppercase;
  	text-align: left;
    
  	&:last-child {
  		padding-right: 0;
  	}

    &:hover {
      color: #ff6363;
    }
}