.comment {
	background-image: url(../../img/bg-comment.jpg);
	// border-bottom: 1px solid white;

	&__tittle {
		width: 372px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 100px;
		padding-bottom: 100px;
		font-family: "Aleo";
  		line-height: 0.722;
  		text-align: center;
  		font-size: 36px;
  		
	}

	&__card {
		display: flex;
		padding-bottom: 200px;
	}

	&__card--col-left {
		width: 443px;
	}

	&__card--col-right {
		width: 556px;
		padding: 40px;
		background-color: #333333;
	}
}

.col-right--tittle {
	padding-bottom: 22px;
	font-size: 20px;
	color: #c8c8c8;
	text-transform: uppercase;
	line-height: 1.3;
}

.col-right--text {
	position: relative;
	margin: 0;

	&:before {
		content: '';
		position: absolute;
  		top: -12px;
  		left: -5px;
  		width: 20px;
  		height: 20px;
  		background: url(../../img/quote-left.png) no-repeat;
	}
}
