.footer {
	padding-top: 120px;
	background-color: #232323;

	&__tagline {
		width: 166px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 0;
		padding-top: 20px;
	}

	&__nav {
		width: 166px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 90px;
	}
}

