.header {
	background-image: url(../../img/bg-hero.jpg);

	&__text {
		width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		font-size: 22px;
		line-height: 1.182;
  		text-align: center;
  		letter-spacing: 5.3px;
	}
}
