.nav {
	display: flex;
	align-items: center;

    &__item {
        position: relative;
        display: inline-block;
    }

     &__link {
        position: absolute;
        color: #e8e8e8;
        width: 20px;
        height: 20px;
    }

    &__link:hover {
        color: #5474fd;
    }

    &__link--facebook {
        top: 20px;
        left: -18px;
    }

    &__link--twitter {
        top: 20px;
        left: 12px;
    }

    &__link--linkedin {
        top: 20px;
        left: 42px;
    }

    &__link--youtube {
        top: 20px;
        left: 72px;
    }

    &__link--pinterest {
        top: 20px;
        left: 102px;
    }
}
