.travel {

	&__spain-first {
		padding-top: 229px;
		padding-bottom: 73px;
		background-image: url(../../img/bg-spain-first.jpg);
	}

	&__spain-second {
		padding-top: 229px;
		padding-bottom: 73px;
		background-image: url(../../img/bg-spain-second.jpg);
	}
}
