.travel {

	&__spain-first {
		padding-top: 228px;
		padding-bottom: 101px;
		background-image: url(../../img/bg-spain-first.jpg);
		background-repeat: no-repeat;
	}

	&__spain-second {
		padding-top: 228px;
		padding-bottom: 101px;
		background-image: url(../../img/bg-spain-second.jpg);
		background-repeat: no-repeat;
		background-position: top;
	}
}
