.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Aleo';
  color: #ffffff;
  background-color: #5474fd; }
  .btn--choose-us {
    width: 224px;
    height: 60px;
    border: none;
    text-transform: uppercase; }
  .btn--travel {
    width: 225px;
    height: 60px;
    border: none;
    text-align: center;
    text-transform: uppercase; }
  .btn:hover {
    color: #333333;
    background-color: #f86161; }
